*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    height: 100vh;
    place-items: center;
}

section.quote{
    width: 80%;
    border: 3px solid goldenrod;
    display: flex;
    justify-content: center;
    text-align: justify;
}

blockquote{
    width: 80%;
    padding: 50px;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 1.4;
    position: relative;
}

blockquote::before{
    content: open-quote;
    top: 40px;
    left: -30px;
}

blockquote::after{
    content: close-quote;
    bottom: 20px;
    right: -30px;
}

blockquote::before,
blockquote::after{
    background-color: #ccc;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 1.6;
    font-size: 64px;
    border-radius: 100%;
    text-align: center;
    position: absolute;
}

section.form {
    width: 80%;
    border: 3px solid goldenrod;
    padding: 50px;
    display: grid;
    place-items: center;
    background-color: aliceblue;
}

form.check-box-form{
    display: flex;
}

div.input-group{
    background: #fff;
    border-radius: 50px;
    height: 40px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 150px;
}

.form-input{
    -webkit-appearance: none;
    appearance: none;
}

.form-input::before{
    content: '';
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.form-input:checked::before{
    background-color: #8B8BAE;
}

.form-input::after{
    content: '';
    cursor: pointer;
    border-radius: 50px;
    border: 4px solid #8B8BAE;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
    height: 15px;
    width: 15px;
}

.form-input:checked::after{
    border: 4px solid white;
}

label.form-label{
    color: #8B8BAE;
    font-size: 24px;
    z-index: 1;
    position: absolute;
    left: 40%;
    bottom: 5px;
}

.form-input:checked ~ .form-label {
    color: white;
}
