*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 36px;
    scroll-behavior: smooth;
}

body{
    background-color: aliceblue;
    font-family: monospace;
    min-height: 100vh;
}

main{
    min-height: 100vh;
}

header h1{
    text-align: center;
}

main{
    height: 100vh;
    margin-block: 40px;
}

section.container{
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div.square{
    width: 200px;
    height: 200px;
    display: grid;
    place-content:center;
    border: 1px solid violet;
}

div.square:first-child{
    background-color: dodgerblue;
    transform: skewX(-10deg);
}

div.square:nth-child(2){
    background-color: yellow;
    transform: skewY(10deg);
}

div.square:last-child{
    background-color: orange;
    transform: skew(-10deg, -10deg);
}