@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
:root{
    --fluorescent-cyan: #7CFEF2;
    --non-photo-blue: #ACE1EE;
    --violet-web: #F481EA;
    --periwinkle: #B8C0EE;
    --wisteria: #D79FED;
    --lavender-floral: #C28BE5;
    --black: #010100;
    --whitesmoke: #f5f5f5;

    --xlg-fonts: 48px;
    --lg-fonts: 36px;
    --md-fonts: 24px;
    --sm-fonts: 18px;
    --xs-fonts: 12px;

    --lg-margin: 50px;
    --md-margin: 30px;
    --sm-margin: 20px;
    --xs-margin: 10px;

    --xlg-padding: 40px;
    --lg-padding: 30px;
    --sm-padding: 15px;
    --xs-padding: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--whitesmoke);
}

/** RESETS */
img, button{ display: block; }

a{ text-decoration: none; }

li{ list-style-type: none; }

/** UTILITY CLASSES */
.section{
    margin-block: var(--lg-margin);
}

.section-title{
    text-align: center;
    font-size: var(--lg-fonts);
    text-transform: capitalize;
    font-weight: 500;
    color: var(--lavender-floral);
}

.section-title:after{
    display: block;
    content: '';
    width: 150px;
    height: 5px;
    margin: 5px auto 30px;
    background-image: linear-gradient(to right, var(--lavender-floral), var(--fluorescent-cyan));
}

.container{
    margin: var(--sm-margin) auto;
}

.section-subtitle{
    font-size: var(--md-fonts);
    font-weight: 400;
    text-transform: capitalize;
}


/** HEADER CSS */

header#header{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

header#header.active{
    background-color: var(--lavender-floral);
}
div.logo > img{
    width: 150px;
    height: auto;
}

nav.navigation > ul.link-group{
    display: flex;
    gap: 4rem;
}

nav.navigation  a.link {
    font-size: var(--md-fonts);
    color: var(--whitesmoke);
}

nav.navigation  a.link:is(:focus, :hover){
    color: var(--fluorescent-cyan);
    transition: all 1s ease-in .1s;
}

/** END HEADER CSS */

/** MAIN CSS */

main{
    width: 100%;
    min-height: 100vh;
}

/** Hero CSS*/
section.hero{
    height: 100vh;
    width: 100%;
    background-image: url('../images/hero-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

section.hero > div.overlay{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);

}
section.hero > div.hero-text{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--sm-margin);
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

div.hero-text > h1{
    font-size: var(--xlg-fonts);
    color: var(--whitesmoke);
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: .2rem;
}

div.hero-text > p{
    font-size: var(--lg-fonts);
    color: var(--periwinkle);
    text-transform: capitalize;
}

div.scroll-down{
    width: 100px;
    height: 400px;
    position: absolute;
    top: 55vh;
    left: 10%;
    /* border: 5px solid var(--whitesmoke); */
    border-radius: 25px;
}

div.mouse{
    position: absolute;
    width: 40px;
    height: 60px;
    border: 2px solid white;
    left: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    animation: scroll 3s ease-in-out infinite;
}

div.scroll{
    width: 10px;
    height: 20px;
    background-color: var(--whitesmoke);
    border-radius: 35%;

}

@keyframes scroll {

    0%{
        top: 0;
        opacity: .2;
    }
    
    33%{
        top: 100px;
        opacity: .8;
    }

    60%{
        top: 200px;
        opacity: 1;
    }
    
    100%{
        top: 300px;
        opacity: .2;
    }
}

/** About CSS*/

section.about{
    padding-inline: var(--lg-padding);
}

section.about .container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--md-margin);
}

.about-img{
    display: flex;
    justify-content: center;
}
.about-img > img{
    width: 100%;
    height: auto;
}

.about-text{
    font-size: var(--sm-fonts);
    line-height: 1.4;
    text-align: justify;
    padding-inline: var(--sm-padding);
}

.section-subtitle{
    color: var(--black);
    text-align: center;
    margin-bottom: var(--xs-margin);
}

.about-text> :is(.mission, .vision){
    margin-bottom: var(--md-margin);
}

.vision > .section-subtitle{
    margin-top: var(--xs-margin);    
}

.vision{
    margin-left: var(--md-margin);
}
.vision-list > li {
    margin-block: var(--xs-margin);
    list-style-type: '👉';
    padding-left: var(--xs-padding);
}

/** Services  & Features CSS */
.section.services, .section.features{
    padding-inline: var(--lg-padding);
    background-color: var(--black);
    padding-block: var(--lg-padding);
    display: grid;
    place-items: center;
    gap: var(--sm-margin);
}

.section.features{
    background-color: transparent; 
    padding-top:0;
}

:is(section.services, .section.features ) > .container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--md-margin);
}

.services-cards, .features-cards{
    display: grid;
    place-items: center;
    height: auto;
    padding-block: var(--lg-padding);
    gap: 2rem;
    border-radius: 25px;
}

.services-cards {
    background-image: linear-gradient(120deg, var(--lavender-floral) 20%, var(--periwinkle) 80%);
}

.features-cards {
    background-image: linear-gradient(120deg, var(--violet-web) 20%, var(--lavender-floral) 80%);
}

:is(.services-cards, .features-cards):is(:hover, :focus){
    box-shadow: 4px 4px 5px 2px var(--non-photo-blue);
    transition: all .5s ease-in .1s;
}

:is(.service-logo, .feature-logo){
    height: 80px;
    width: 80px;
    display: grid;
    place-items: center;
    border: 2px dashed var(--fluorescent-cyan);
    border-radius: 50%;
    outline: 3px solid var(--black);
    outline-offset: 5px;
    
}

:is(.service-logo, .feature-logo) > i {
    font-size: var(--lg-fonts);
    color: var(--black);
}

:is(.services-cards, .features-cards) > :is(.service-text, .feature-text) {
    font-size: var(--sm-fonts);
    color: var(--black);
    text-transform: capitalize;
    font-weight: 500;
}

:is(.services, .features) > .button {
    font-size: var(--md-fonts);
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 5px;
}

.button.transparent{
    color: white;
    border: 1px solid white;
}
.button.transparent:is(:hover, :focus){
    border-width: 1.5px;
    /*box-shadow: x-offset, y-offset, blur, spread, color ;*/    
    box-shadow: 5px 4px 5px 1px #F481EA;
    transition: all .5s ease-in-out .1s;
}

.button.dark{
    color: var(--black);
    border: 1px solid var(--black);
}

.button.dark:is(:hover, :focus){
    /*box-shadow: x-offset, y-offset, blur, spread, color ;*/    
    border-width: 1.5px;
    box-shadow: 5px 4px 5px 1px var(--lavender-floral);
    transition: all .5s ease-in-out .1s;
}

/** Team CSS */
.section.team{
    padding-inline: var(--lg-padding);
    padding-block: var(--sm-padding);
    display: grid;
    place-items: center;
    width: 100%;
}

.team > .container{
    width:90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.team-card{
    position: relative;
}
.team-img{
    width: 100%;
}
.team-img > img{
    width: 100%;
    height: auto;
}
.team-desc{
    position: absolute;
    background-color: var(--whitesmoke);
    width: 100%;
    top: 90%;
    left: 0;
    text-align: center;
}

.team-text > h3{
    font-size: var(--md-fonts);
    text-transform: capitalize;
    margin-bottom: .5rem;
}

.team-text > p {
    font-size: var(--sm-fonts);
    font-weight: 400;
    text-transform: uppercase;
}

.socials {
    font-size: var(--md-fonts);
    margin-top: .5rem;
}

/** Contact CSS */
.section.contact{
    display: grid;
    place-items: center;
}

.contactForm{
    width: 60%;
}

div.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}

.input-group > label {
    color: var(--black);
    font-size: var(--sm-fonts);
    text-transform: capitalize;
}

.input-group > input:is([type="text"], [type="email"]){
    height: 40px;
    border: 1px solid var(--lavender-floral);
    border-radius: 5px;
    font-size: var(--sm-fonts);
    padding-left: var(--sm-padding);
    color: var(--black);
}

.input-group > :is(input:is([type="text"], [type="email"]), textarea):is(:focus, :hover){
    border: 2px solid var(--violet-web);
}

.input-group > input::placeholder{
    color: var(--black);
    font-size: var(--sm-fonts);
}

.contactForm textarea {
    height: 200px;
    border: 1px solid var(--lavender-floral);
    border-radius: 5px;
    font-size: var(--sm-fonts);
    color:var(--black)
}

.contactForm > button[type="submit"]{
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    box-shadow: 5px 4px 5px 1px var(--violet-web);
    background-color: var(--lavender-floral);
    font-size: var(--sm-fonts);
    color: var(--whitesmoke);
}

.contactForm > button[type="submit"]:hover{
    box-shadow: 5px 4px 5px 1px var(--lavender-floral);
    background-color: var(--violet-web);
    transition: all .5 ease-in-out .1s;
}
/** END MAIN CSS */


/** FOOTER CSS */
#footer{
    height: 60px;
    background-color: var(--lavender-floral);
    color: whitesmoke;
    font-size: var(--sm-fonts);
    display: grid;
    place-items: center;
}

#footer a {
    color: var(--fluorescent-cyan)
}
/** END OF FOOTER CSS */

